RazorPagesSolution/.tools/*
RazorPagesSolution/.vs/RazorPagesSolution/v16/.suo
RazorPagesSolution/RazorPages/bin
RazorPagesSolution/RazorPages/obj
RazorPagesSolution/.vs/RazorPagesSolution/DesignTimeBuild/.dtbcache.v2
RazorPagesSolution/.tools/linq2db.t4models/linq2db.dll
RazorPagesSolution/.vs/RazorPagesSolution/config/applicationhost.config
