RazorPagesSolution/.tools/*
RazorPagesSolution/.vs/RazorPagesSolution/v16/.suo
RazorPagesSolution/RazorPages/bin
RazorPagesSolution/RazorPages/obj
RazorPagesSolution/.vs/RazorPagesSolution/DesignTimeBuild/.dtbcache.v2
RazorPagesSolution/RazorPages/DataModels/RazorBase.tt
RazorPagesSolution/RazorPages/DataModels/RazorBase.generated.cs
RazorPagesSolution/RazorPages/RazorPages.csproj
RazorPagesSolution/.tools/linq2db.t4models/linq2db.dll
RazorPagesSolution/.vs/RazorPagesSolution/config/applicationhost.config
